.bioPageBox {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-self: center;
  text-align: center;
  padding: 24px;
  background-color: #ffffff;
  height: 850px;
}

.textCont {
  text-align: right;
  width: 50%;
  min-width: 300px;
}

.f1 {
  font-size: 54px;
  color: #093445;
}

.f12 {
  font-size: 24px;
  color: #4d7281;
}

.f2 {
  font-size: 20px;
  color: #093445;
}

.f3 {
  font-size: 20px;
  color: #4d7281;
}

.margin1 {
  margin: 10px;
  margin-top: 50px;
}

.bioBox {
  margin-left: auto;
  margin-right: auto;
}

.bioBtnContact {
  padding: 12px 32px 12px 32px;
  border: 1px solid#093445;
  margin: 5px;
  color: #ffffff;
  font-size: 15px;
  background-color: #093445;
  border-radius: 4px;
}

.bioBtnRes {
  padding: 12px 32px 12px 32px;
  border: 1px solid #093445;
  margin: 5px;
  color: #093445;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

.btnWidth {
  width: auto;
}

.portraitBox {
  border-radius: 50%;
  max-height: 288px;
  width: 288px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.image__container {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
}

@media only screen and (max-width: 647px) {
  .btnWidth {
    width: 100%;
  }

  .textCont {
    text-align: center;
    max-width: 450px;
  }

  .portraitBox {
    margin-left: auto;
  }

  .image__container {
    width: auto;
  }
}
