.footerBox {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
  background: #04212c;
  color: white;
}

.f3C {
  font-size: 12px;
  color: white;
  width: fit-content;
  text-align: left;
}

.f3I {
  font-size: 12px;
  color: white;
  width: fit-content;
  text-align: right;
}
