.logo {
  position: absolute;
  top: 0px;
  left: 100px;
  display: flex;
  height: fit-content;
  width: 53px;
  justify-content: space-between;
  z-index: 1;
}

.stripeL {
  width: 11px;
  /* height: 544px; */
  background-color: rgb(60, 138, 239);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.stripeM {
  width: 11px;
  height: 444px;
  background-color: rgb(29, 100, 191);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.stripeR {
  width: 11px;
  height: 344px;
  background-color: rgb(13, 42, 79);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.bioBtnContact {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 180px;
  padding: 15px 5px;
  border: 1px solid #0d2a4f7e;
  color: #0d2a4f;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  background-color: #ffffff62;
  border-radius: 15px;
  backdrop-filter: blur(7px);
}

.bioBtnRes {
  position: absolute;
  bottom: 25px;
  left: 25px;

  width: 180px;
  padding: 15px 5px;
  border: 1px solid #0d2a4f7e;
  color: #0d2a4f;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  background-color: #ffffff62;
  border-radius: 15px;
  backdrop-filter: blur(7px);
}

.btnHover:hover {
  cursor: pointer;
}
