.skillsBG {
  position: relative;
  justify-self: center;
  text-align: center;
  padding: 40px 15px 40px 15px;
  background: linear-gradient(#ffffff, #156890);
  z-index: -10;
}

.skillsBGbottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 343px;
  background: linear-gradient(#421d9e, #092345);
  z-index: -1;
}

.skillsWave {
  position: absolute;
  bottom: 339px;
  left: 0px;
  z-index: -1;
}

/* .waveColor1 {
  background: linear-gradient(#ff6e49, #421d9e);
}
.waveColor2 {
  background: linear-gradient(#d23152, #421d9e);
}
.waveColor3 {
  background: linear-gradient(#9e1d62, #421d9e);
} */

.stageHeadline {
  position: relative;
  color: #ffffff;
}

.gridBox {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.gridItem {
  height: fit-content;
  width: fit-content;
}

.skillBox {
  padding: 40px 20px;
  margin: 30px 10px 20px 10px;
  height: 300px;
  width: 280px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
}

.skillBoxTitle {
  margin-top: 20px;
  font-size: 25px;
  color: #093445;
}

.skillBoxTxt {
  margin-top: 20px;
  font-size: 20px;
  color: #093445;
}

.imgBox {
  display: block;
  width: 71px;
  height: 71px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: #093445;
}

.imgPos {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
