.skillBox {
  padding: 40px 20px;
  margin: 30px;
  height: 250px;
  width: 430px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
}

.skillBoxUnEven {
  padding: 40px 20px;
  margin: 30px;
  height: 250px;
  width: 430px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
  margin-top: 100px;
}

.skillBoxTitle {
  margin-top: 20px;
  font-size: 20px;
  color: #1c2237;
}

.skillBoxTxt {
  margin-top: 20px;
  font-size: 15px;
  color: #1c2237;
}

.imgBox {
  display: block;
  width: 71px;
  height: 71px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: #1c2237;
}

.imgPos {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
